body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
 }

a {
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   text-decoration: none;
   background: rgb(95, 99, 96);
   padding: 20px 5px;
   display: inline-block;
   width: 100%;
   height: 30px;
   text-align: center;
}

a:hover {
   background: rgba(238, 13, 13, 0.75);
}

.head {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 3em 1.5em;
   box-sizing: border-box;
}

.hd_navigation ul {
   border: 1px solid rgb(95, 99, 96);
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.hd_navigation li {
   flex: 3;    
}

.hd_navigation .medi {
   flex: 1;
}

@media all and (max-width: 1000px) {
   .hd_navigation ul {
      flex-wrap: wrap;
   }
   
   .hd_navigation li {
      flex: 1 1 50%;
   }

   .hd_navigation .media {
      flex: 1 1 33.33%;
   }
}

@media all and (max-width: 480px) {
   .hd_navigation li {
      flex-basis: 100%;
   }

   .hd_navigation .media {
      flex-basis: 50%;
   }
}





img{
	max-width:100%;
}
nav li{
	    margin: 0 13px;
}
#intro .jumbotron{
	background: url('../image/background.jpeg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70vh;
    margin-bottom: 0px;

}

#intro .jumbotron .container{
	position:relative;
    top: 50%;
    transform: translate(0, -50%);
}

.col-md-12.h1{
    font-weight:bold;

}
#second{
	padding: 80px 0px;
}
#second h3, #latest h3{
	margin-bottom: 70px;
	font-size: 32px;
}
#second img{
	border-radius: 100%;
    width: 108px;
}

p.lead{
	color: black;
	line-height: 31px;
}
