/* Navigation*/



 
body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
 }

a {
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   text-decoration: none;
   background: rgb(95, 99, 96);
   padding: 20px 5px;
   display: inline-block;
   width: 100%;
   height: 30px;
   text-align: center;
}

a:hover {
   background: rgba(238, 13, 13, 0.75);
}

.head {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 3em 1.5em;
   box-sizing: border-box;
}

.hd_navigation ul {
   border: 1px solid rgb(95, 99, 96);
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.hd_navigation li {
   flex: 3;    
}

.hd_navigation .medi {
   flex: 1;
}

@media all and (max-width: 1000px) {
   .hd_navigation ul {
      flex-wrap: wrap;
   }
   
   .hd_navigation li {
      flex: 1 1 50%;
   }

   .hd_navigation .media {
      flex: 1 1 33.33%;
   }
}

@media all and (max-width: 480px) {
   .hd_navigation li {
      flex-basis: 100%;
   }

   .hd_navigation .media {
      flex-basis: 50%;
   }
}


.bd_form {
    padding-top: 10px;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 60px;

  }


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 20px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
 

